# Ignore node_modules, as we don't want to copy it into the Docker image
node_modules
npm-debug.log
yarn-error.log
.env

# Ignore local Angular build outputs
dist
tmp
out-tsc

# Ignore IDE and editor settings
.vscode/
.idea/

# Ignore Dockerfile and related files (optional, depends on your use case)
Dockerfile
docker-compose.yml
