<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular Wiki</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="app-sidenav" [fixedInViewport]="true">
    <mat-nav-list>
      <!-- Dynamically generate links from the pages array -->
      <mat-list-item *ngFor="let page of pages" [routerLink]="page.route" (click)="sidenav.close()">
        {{ page.name }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
